<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="maxBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="maxBehaviour" name="WeatherService.Service1">
        <endpoint address="http://localhost:56141/Service1" binding="basicHttpBinding" contract="WeatherService.IService1" />
        <!--<endpoint address="net.tcp://localhost:8820/Service1" binding="netTcpBinding" bindingConfiguration="" name="" contract="GreetingService.IService1">-->
        <!--
          <identity>
            <userPrincipalName value=""/>
          </identity>
        </endpoint>-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:56141" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>